{
  "cache": false,
  "check-coverage": false,
  "extension": [
    ".js"
  ],
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "coverage/**",
    "node_modules/**",
    "**/*.test.js",
    "src/sandbox.js",
    "src/pptr.js"
  ],
  "sourceMap": true,
  "reporter": [],
  "all": true,
  "instrument": true
}
