{
  "cache": false,
  "check-coverage": false,
  "extension": [
    ".js"
  ],
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "coverage/**",
    "node_modules/**",
    "**/*.test.js",
    "tests/utils/*.*"
  ],
  "sourceMap": true,
  "reporter": [],
  "all": false,
  "instrument": true
}
